<app-header></app-header>
<app-header></app-header>
<app-header></app-header>
<app-header></app-header>

<h1>Hotel Details</h1>
<p>Total Rooms: {{ rooms.totalRooms  }}</p>
<p>Available Rooms: {{ rooms.availableRooms }}</p>
<p>Booked Rooms: {{ rooms.bookedRooms }}</p>

<!-- {{ roomList | json }} -->

<div *ngIf="showRoomList">
    <app-rooms-list [rooms]="roomList"
                    (selectedRoom)="selectRoom($event)"
                    [title]="title">
    </app-rooms-list>
</div>

<div *ngIf="selectedRoom">
    {{ selectedRoom | json }}
</div>

<div>
    <button (click)="addRoom()">Add Room</button>
    <button (click)="changeTitle()">Change Room List Title</button>
    <button (click)="hideRoomList()">Hide Room List</button>
</div>

